* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header {
    margin-top: 2.93rem;
    margin-left: 2.62rem;
}

.nav-header a {
    margin-right: 2.25rem;
}

.link-header {
    color: #17233D;
    font-size:  0.875rem;
    font-weight: 400;
    letter-spacing: 0.0525rem ;
    text-decoration: none;
}

.button-nav-header {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 7.75rem;
    height: 3.1875rem;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

